flows5.json
[
    {
        "id": "3da3109352abaed7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b42dcf74a366b9be",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "168e80c4baca2ff6",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0ab9b39d2a858226",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c409f145588d6332",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9184b5710284ec20",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d62fa8d6ebb2cb2",
        "type": "tab",
        "label": "Flow 5 - Clima por API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9092a555e316439b",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e86c4082e72e4df6",
        "type": "ui_tab",
        "name": "Flow 2",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a2c63cf64c20f9b8",
        "type": "ui_group",
        "name": "Fecha",
        "tab": "e86c4082e72e4df6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3b9f911013ee120c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7d73b7503d4307b2",
        "type": "ui_tab",
        "name": "Flow4",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "229cc2903a5efd1b",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "7d73b7503d4307b2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2ef4c83092ea5b72",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "7d73b7503d4307b2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "568858c1f0a85f68",
        "type": "ui_group",
        "name": "Historico",
        "tab": "7d73b7503d4307b2",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4a5c72f7897b8864",
        "type": "ui_tab",
        "name": "Flow 5 - Clima por API",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1188d09d7f589c0b",
        "type": "ui_group",
        "name": "Temperartura",
        "tab": "4a5c72f7897b8864",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6908de1ecf73d0ee",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "4a5c72f7897b8864",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bb98db4301834145",
        "type": "ui_group",
        "name": "Historico",
        "tab": "4a5c72f7897b8864",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1c3137211ac302f",
        "type": "ui_group",
        "name": "Informacion por API",
        "tab": "4a5c72f7897b8864",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6c48a037f4314cdb",
        "type": "inject",
        "z": "3da3109352abaed7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "f2bc9df3e616d1d7"
            ]
        ]
    },
    {
        "id": "f2bc9df3e616d1d7",
        "type": "debug",
        "z": "3da3109352abaed7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 100,
        "wires": []
    },
    {
        "id": "e7e63b50cf140809",
        "type": "inject",
        "z": "0ab9b39d2a858226",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "24152d9600750feb"
            ]
        ]
    },
    {
        "id": "f59d26ae742653be",
        "type": "debug",
        "z": "0ab9b39d2a858226",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "24152d9600750feb",
        "type": "function",
        "z": "0ab9b39d2a858226",
        "name": "function 1",
        "func": "// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 100,
        "wires": [
            [
                "f59d26ae742653be"
            ]
        ]
    },
    {
        "id": "d7d3df9975e9851b",
        "type": "inject",
        "z": "c409f145588d6332",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "8572e5ecd94b345e"
            ]
        ]
    },
    {
        "id": "c89a491e3b151f97",
        "type": "debug",
        "z": "c409f145588d6332",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "8572e5ecd94b345e",
        "type": "function",
        "z": "c409f145588d6332",
        "name": "function 1",
        "func": "// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 100,
        "wires": [
            [
                "c89a491e3b151f97",
                "4eab0d73976facb5"
            ]
        ]
    },
    {
        "id": "4eab0d73976facb5",
        "type": "ui_text",
        "z": "c409f145588d6332",
        "group": "a2c63cf64c20f9b8",
        "order": 0,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Time Stamp Interpretado",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "5e4cb6c8a1ebc706",
        "type": "mqtt in",
        "z": "9184b5710284ec20",
        "name": "",
        "topic": "codigoIoT/Mor/mqtt/flow4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3b9f911013ee120c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "342c15d1edf89032"
            ]
        ]
    },
    {
        "id": "342c15d1edf89032",
        "type": "json",
        "z": "9184b5710284ec20",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "531fee387c9f040b",
                "1b1b46cf44d428b7"
            ]
        ]
    },
    {
        "id": "531fee387c9f040b",
        "type": "function",
        "z": "9184b5710284ec20",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 160,
        "wires": [
            [
                "1f1af9add3de2112",
                "0be0889ff139c47d"
            ]
        ]
    },
    {
        "id": "1b1b46cf44d428b7",
        "type": "function",
        "z": "9184b5710284ec20",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.hum;\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 280,
        "wires": [
            [
                "1f1af9add3de2112",
                "b9aa0be92bfff7b0"
            ]
        ]
    },
    {
        "id": "0be0889ff139c47d",
        "type": "ui_gauge",
        "z": "9184b5710284ec20",
        "name": "",
        "group": "229cc2903a5efd1b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "5",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "16",
        "seg2": "22",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 80,
        "wires": []
    },
    {
        "id": "b9aa0be92bfff7b0",
        "type": "ui_gauge",
        "z": "9184b5710284ec20",
        "name": "",
        "group": "2ef4c83092ea5b72",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad relativa",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 180,
        "wires": []
    },
    {
        "id": "1f1af9add3de2112",
        "type": "ui_chart",
        "z": "9184b5710284ec20",
        "name": "",
        "group": "568858c1f0a85f68",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Historico local",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "049835e51a18f3f1",
        "type": "mqtt in",
        "z": "5d62fa8d6ebb2cb2",
        "name": "",
        "topic": "codigoIoT/Mor/mqtt/flow4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3b9f911013ee120c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "eb6db0d557fa9ea3"
            ]
        ]
    },
    {
        "id": "eb6db0d557fa9ea3",
        "type": "json",
        "z": "5d62fa8d6ebb2cb2",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "f710aca261e75bd8",
                "d2f7b60d55edd239"
            ]
        ]
    },
    {
        "id": "f710aca261e75bd8",
        "type": "function",
        "z": "5d62fa8d6ebb2cb2",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 160,
        "wires": [
            [
                "5fd79f6590329cef",
                "0cadaa4f431a86f0"
            ]
        ]
    },
    {
        "id": "d2f7b60d55edd239",
        "type": "function",
        "z": "5d62fa8d6ebb2cb2",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.hum;\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 280,
        "wires": [
            [
                "5fd79f6590329cef",
                "8a7ca3fe118ab62c"
            ]
        ]
    },
    {
        "id": "0cadaa4f431a86f0",
        "type": "ui_gauge",
        "z": "5d62fa8d6ebb2cb2",
        "name": "",
        "group": "1188d09d7f589c0b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "5",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "16",
        "seg2": "22",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 80,
        "wires": []
    },
    {
        "id": "8a7ca3fe118ab62c",
        "type": "ui_gauge",
        "z": "5d62fa8d6ebb2cb2",
        "name": "",
        "group": "6908de1ecf73d0ee",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad relativa",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "5fd79f6590329cef",
        "type": "ui_chart",
        "z": "5d62fa8d6ebb2cb2",
        "name": "",
        "group": "bb98db4301834145",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Historico local",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2da3ec2753b1addf",
        "type": "http request",
        "z": "5d62fa8d6ebb2cb2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=18.982193&lon=-99.250259&appid=d2849473a286b894ef85fd65336d87bc&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 540,
        "wires": [
            [
                "bf5211e10da7fa35"
            ]
        ]
    },
    {
        "id": "fcb95e2bbd117ffd",
        "type": "inject",
        "z": "5d62fa8d6ebb2cb2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "2da3ec2753b1addf"
            ]
        ]
    },
    {
        "id": "bf5211e10da7fa35",
        "type": "json",
        "z": "5d62fa8d6ebb2cb2",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 670,
        "y": 540,
        "wires": [
            [
                "bee5fed51ae60f0b",
                "11d8ccae8acb4dba"
            ]
        ]
    },
    {
        "id": "bee5fed51ae60f0b",
        "type": "function",
        "z": "5d62fa8d6ebb2cb2",
        "name": "Temperartura",
        "func": "msg.payload = msg.payload.main.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 500,
        "wires": [
            [
                "1e46ec601472aefb",
                "98bd31997910f200"
            ]
        ]
    },
    {
        "id": "11d8ccae8acb4dba",
        "type": "function",
        "z": "5d62fa8d6ebb2cb2",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.main.humidity; \nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 580,
        "wires": [
            [
                "59e01db3ef0032d4",
                "98bd31997910f200"
            ]
        ]
    },
    {
        "id": "1e46ec601472aefb",
        "type": "ui_gauge",
        "z": "5d62fa8d6ebb2cb2",
        "name": "",
        "group": "d1c3137211ac302f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "38",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "26",
        "diff": false,
        "className": "",
        "x": 1010,
        "y": 500,
        "wires": []
    },
    {
        "id": "59e01db3ef0032d4",
        "type": "ui_gauge",
        "z": "5d62fa8d6ebb2cb2",
        "name": "",
        "group": "d1c3137211ac302f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad Relativa",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 580,
        "wires": []
    },
    {
        "id": "98bd31997910f200",
        "type": "ui_chart",
        "z": "5d62fa8d6ebb2cb2",
        "name": "",
        "group": "d1c3137211ac302f",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Historico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 700,
        "wires": [
            []
        ]
    }
]